header {
	text-align: center;
	background: rgba(230, 199, 121, 0.4);
	margin: -20px 0px 0px 0px;
}

h1{
	padding: 50px;
}
p {
	text-align: center;
	color: black;

	
}
body {
	background: url("http://ucanr.edu/blogs/bugsquad//blogfiles/12925_original.jpg");
	background-size: cover;
	
	
}
ul {
	background: rgba(230, 199, 121, 0.15);
	padding: 18px 0px 18px 0px;
}
li {
	display: inline;
	background: rgba(230, 199, 121, 0);
	padding:20px 10px 20px 10px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
	
}
li:hover {
	background-color: rgba(200, 165, 90, 0.4);
	color: rgba(0, 0, 0, 1);
}