header {
	text-align: center;
	background: rgba(230, 199, 121, 0.4);
	margin: -20px 0px 0px 0px;
	
}

h1{
	padding: 50px;
}
p {
	text-align: center;
	color: black;

	
}
body {
	background: url("http://ucanr.edu/blogs/bugsquad//blogfiles/12925_original.jpg");
	background-size: cover; /* the image doubles on small screen? */
	
	
	
	
}
.nav-bar {
	background: rgba(230, 199, 121, 0.15);
	padding: 18px 0px 18px 0px;
}
.nav-item {
	display: inline;
	background: rgba(230, 199, 121, 0);
	padding:20px 10px 20px 10px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 16px;
	
}
.nav-item:hover {
	background-color: rgba(200, 165, 90, 0.4);
	color: rgba(0, 0, 0, 1);
}


#container {
	background: rgba(230, 199, 121, 0.3);
	width: 60%;
	height: 100%; /* Want the height to be full page but don't know how to do that */
	position: relative;
	top: -10px;
	margin: 0 auto;


}

.coretext {
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;


}
#beeinfo {
	list-style-position: inside;
}

@media (max-width: 652px) { /* the width of the picture */ 
	body {
		background-image: url("backgroundbee.jpg");  /*what should it look like on a small screen? */
		
	}	
	.nav-item {
		display: block;
		padding: 5px;

	}
	.nav-bar {
		padding: 0;
	}
	h1{
		padding: 5px;
	}



}