header {
	text-align: center;
	background: rgba(230, 199, 121, 0.45);
	margin: -20px 0px 0px 0px;
}

h1{
	padding: 50px;
}
p {
	text-align: center;
	color: black;

	
}
body {
	background: url("http://ucanr.edu/blogs/bugsquad//blogfiles/12925_original.jpg");
	background-size: cover;
	
	
}
ul {
	background: rgba(230, 199, 121, 0.15);
	padding:20px 0px 20px 0px;
}
li {
	display: inline;
	background: rgba(230, 199, 121, 0);
	padding:20px 10px 20px 10px;
	color: rgb(0, 0, 0);
	font-size: 16px;
	opacity: 0.5;
}
